{# # This file is part of the YesWiki Extension dkim.
# Authors : see README.md file that was distributed with this source code.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. #}


{{ include('@templates/alert-message.twig',{
    type:publicKey is empty ? 'warning' : 'info',
    message: publicKey is empty ? _t('DKIM_PUBLIC_KEY_NOT_SET') : _t('DKIM_PUBLIC_KEY_SET',{key:publicKey,domain:domain})}
) }}

<form action="{{ url({handler:"admindkim"}) }}" method="post" enctype="multipart/form-data" class="form-horizontal">
    {{ include('@bazar/inputs/text.twig',{
        field: {
            name: 'domain',
            subType: 'text',
            pattern: "(?:[!#-'*+/-9=?A-Z^-~-]+\.[!#-'*+/-9=?A-Z^-~-]+)*",
            label: _t('DKIM_DOMAIN'),
        },
        value: domain
    }) }}
    {{ include('@bazar/inputs/text.twig',{
        field: {
            name: 'selector',
            subType: 'text',
            pattern: "[A-Za-z]+",
            label: _t('DKIM_SELECTOR'),
        },
        value: selector
    }) }}
    <div class="control-group form-group">
        <div class="controls col-sm-9">
            <button type="submit" class="btn btn-primary">{{ _t('DKIM_UPDATE') }}</button>
            <a class="btn btn-xs btn-default" href="{{ url({method:''}) }}">{{ _t('BAZ_ANNULER') }}</a>
        </div>
    </div>
</form>